# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Tweetbook.iml
# Datasource local storage ignored files
/../../../../../../:\Dev\Tweetbook\.idea\.idea.Tweetbook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
